@use '../../../../scss/utils';

:host {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 3px;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;

  &.cdk-drag-animating {
    transition: all .15s ease-in-out !important;
  }

  &.cdk-drag-preview {
    box-shadow: 0 10px 20px utils.color(dropshadow);
  }

  &:hover,
  &.cdk-drag-preview {
    background-color: utils.color(gray-3);
  }

  &.cdk-drag-placeholder {
    opacity: 0;
    user-select: none;
  }
}

.label {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-in-out;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  flex-shrink: 0;
  border-radius: 200px;
  background-color: utils.color(gray-4);
  padding: 2px 5px;
  font-size: .75em;
  min-width: 1.6em;
  font-weight: 500;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;

  &.selected {
    color: utils.color(gray-9);

    &.high-contrast {
      color: utils.color(gray-2);
    }
  }
}

.action-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}