:root {
  --color-accent-blue: #1BA1ED;
  --color-accent-blue-secondary: #66C0F3;
  --color-accent-green: #22af84;
  --color-accent-green-secondary: #2cd6a1;
  --color-accent-red: #EF4242;
  --color-accent-red-secondary: #F26767;
  --color-accent-orange: #ED801B;
  --color-accent-yellow: #F7C71C;
  --color-accent-magenta: #C641F5;
  --color-accent-white: #FFFFFF;
  --color-gray-1: #232323;
  --color-gray-2: #292929;
  --color-gray-3: #343434;
  --color-gray-4: #404040;
  --color-gray-5: #545454;
  --color-gray-6: #7B7B7B;
  --color-gray-7: #9F9F9F;
  --color-gray-8: #B1B1B1;
  --color-gray-9: #FFFFFF;
  --color-dropshadow: rgba(0 0 0 / 20%);
  --color-backdrop: rgba(32 32 32 / 70%);
  --color-tag-value-default: rgba(255 255 255 / 75%);
  --color-tag-value-contrast: rgba(64 64 64 / 60%);
}