@use '../../../../scss/utils';

:host {
  display: flex;
  gap: 10px;
  border-radius: 3px;
  pointer-events: all;
  background-color: utils.color(gray-2);
  box-shadow: 0 2px 15px utils.color(dropshadow);
  align-items: center;
  padding: 10px 15px;
  width: utils.rem(500px);
}

app-icon.error {
  color: utils.color(accent-red);
}

app-icon.info {
  color: utils.color(accent-blue);
}

p.message {
  margin: 0;

  &.error {
    color: utils.color(accent-red-secondary);
  }
}