@use '../../../../scss/utils';

:host {
  position: relative;

  &:hover .card {
    background-color: utils.color(gray-3);
    transform: scale(1.05);
    box-shadow: 0 10px 20px utils.color(dropshadow);
  
    app-icon.edit-icon {
      display: initial !important;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 3px;
  width: 290px;
  background-color: utils.color(gray-2);
  transition: background-color .15s ease-in-out, transform .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
}

.card .poster {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 160px;
  border-bottom: 1px solid transparent;

  &.no-image {
    background-color: utils.color(gray-3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-color: utils.color(gray-2);

    app-icon {
      color: utils.color(gray-6);
    }
  }
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: utils.color(gray-9);

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .title {
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    app-icon.edit-icon {
      flex-shrink: 0;
      cursor: pointer;
      color: utils.color(gray-8);
      transition: color .15s ease-in-out;
      display: none;

      &:hover {
        color: utils.color(gray-9);
      }
    }
  }

  .collection {
    font-size: utils.rem(12px);
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    color: utils.color(gray-8);
    margin-top: -5px;

    span:hover {
      text-decoration: underline;
    }
  }

  p.description {
    margin: 0;
    color: utils.color(gray-8);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: utils.rem(15px);


    &.no-tags {
      margin-bottom: 20px;
    }
  }
}

.tags {
  display: flex;
  gap: 5px;
  padding: 5px 0 15px 0px;
  margin: 0 15px 0 15px;
  overflow-x: auto;
  margin-top: auto;

  .tag-wrapper {
    min-width: max-content;

    &:hover app-tag {
      transform: translateY(-5px);
    }
  }

  app-tag {
    transition: transform .15s ease-in-out;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.fetching-status {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: utils.color(gray-2);
  color: utils.color(gray-9);
  font-size: utils.rem(12px);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  
  .spinner {
    font-size: utils.rem(14px);
  }
}