<div class="controls">
  @if ( hasWritePermission ) {
    <app-nav-item class="new-item" label="New Item" icon="circle-plus" (click)="onNewItem()"></app-nav-item>
  }
  <app-textbox type="search"
  [(value)]="queryText"
  [(tags)]="queryTags"
  placeholder="Search items in this collection"
  withTags
  monochromeTags
  (onClear)="onSearchClear()"
  (onSearch)="onSearch($event)"></app-textbox>
  <div class="control-buttons-group">

    @if ( isCheckedViewTogglerVisible() ) {
      <app-button
      [label]="currentCheckedView"
      allowColorOverrides
      compact
      [title]="currentCheckedViewTooltip"
      (onClick)="onToggleCheckedItemsView()"></app-button>
    }

    <app-button
    class="item-checker"
    icon="check"
    iconSize="1rem"
    allowColorOverrides
    compact
    title="Toggle item checker"
    [ngClass]="{ active: itemCheckerActive }"
    (onClick)="onToggleItemChecker()"></app-button>
  </div>
</div>
<div class="items"
[ngClass]="{ empty: ! fetching && (filteredItems?.length === 0 || items.length === 0) }"
cdkDropList
cdkDropListOrientation="mixed"
(cdkDropListDropped)="onItemDropped($event)">
  @if ( fetching ) {
    <app-loading-spinner></app-loading-spinner>
  }
  @else {
    @for (item of getItemsAfterFilters(); track item.updatedAt; let i = $index) {
      <app-item
      [item]="item"
      [readOnly]="! hasWritePermission"
      [checkModeActive]="itemCheckerActive"
      [fetching]="fetchingMetadata.has(item.id)"
      (onItemUpdate)="onItemUpdated(i, $event)"
      (onItemCheckedStatusChanged)="onItemCheckedStatusChanged(item, $event)"
      (onTagFilter)="onTagFilter($event)"
      cdkDrag
      [cdkDragDisabled]="! hasWritePermission || reorderingInProgress || filteredItems || itemCheckerActive">
      </app-item>
    }
  
    @if ( items.length === 0 ) {
      <app-empty-placeholder
      assetFilename="images/empty-box.png"
      title="Nothing here to see!"
      message="Add new items in this collection using the button above to start collecting stuff...">
      </app-empty-placeholder>
    }
    @else if ( filteredItems?.length === 0 ) {
      <app-empty-placeholder
      assetFilename="images/search-frown.png"
      title="No results found!"
      message="Adjust your search criteria to view items in this collection...">
      </app-empty-placeholder>
    }
  }
</div>