@use '../../../scss/utils';

:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-height: max-content;

  &:has(app-empty-placeholder) {
    min-height: unset;
  }
}

.controls {
  display: flex;
  align-items: stretch;
  gap: 10px;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -30px;
  padding-left: 30px;
  margin-right: -30px;
  padding-right: 30px;
  position: sticky;
  z-index: 1;
  background-color: utils.color(gray-1);

  .control-buttons-group {
    display: flex;
    align-items: stretch;
    gap: 10px;
    color: utils.color(gray-8);
    margin-left: auto;
  }

  app-textbox[type=search] {
    width: 100%;
    max-width: 600px;
  }

  .item-checker.active {
    color: utils.color(accent-green);
  }

  .new-item {
    font-size: utils.rem(14px);
    flex-shrink: 0;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      color: utils.color(accent-green);
    }
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
  padding-bottom: 50px;

  &.empty {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  app-loading-spinner {
    width: 100%;
    padding-top: 100px;
    font-size: 24px;
  }
}