@use '../../../scss/utils';

:host {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 15px;
  flex: 1;
}

.controls {
  display: flex;
  align-items: stretch;
  gap: 10px;

  app-textbox[type=search] {
    width: 100%;
    max-width: 600px;
  }

  .item-checker {
    color: utils.color(gray-8);
    margin-left: auto;

    &.active {
      color: utils.color(accent-green);
    }
  }

  .new-item {
    font-size: utils.rem(14px);
    flex-shrink: 0;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      color: utils.color(accent-green);
    }
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
  padding-bottom: 50px;

  &.empty {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  app-loading-spinner {
    width: 100%;
    padding-top: 100px;
    font-size: 24px;
  }
}