@use '../../../scss/utils';

:host {
  display: flex;
  flex-direction: column;
  min-width: utils.rem(350px);
  max-width: utils.rem(350px);
  background-color: utils.color(gray-2);
  padding: 15px;
  gap: 15px;

  & > :not(.items) {
    flex-shrink: 0;
  }
}

.nav-back {
  padding: 8px 0 8px 15px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: utils.rem(15px);
  font-weight: 500;
  cursor: pointer;

  span.space-name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.items {
  font-weight: 400;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.new-item {
  font-size: utils.rem(14px);
  padding-top: 0;
  padding-bottom: 0;
  height: utils.rem(35px);

  &:hover {
    color: utils.color(accent-green);
  }
}