@use '../../../../scss/utils';

button {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: utils.rem(14px);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 10px 15px;
  cursor: pointer;
  color: utils.color(accent-white);
  transition: background-color .15s ease-in-out;
}

button.primary {
  background-color: utils.color(accent-blue);

  &:hover:not(:disabled) {
    background-color: utils.color(accent-blue-secondary);
  }
}

button.secondary {
  background-color: utils.color(gray-3);

  &:hover:not(:disabled) {
    background-color: utils.color(gray-4);
  }
}

button.success {
  background-color: utils.color(accent-green);

  &:hover:not(:disabled) {
    background-color: utils.color(accent-green-secondary);
  }
}

button.danger {
  background-color: utils.color(accent-red);

  &:hover:not(:disabled) {
    background-color: utils.color(accent-red-secondary);
  }
}

button:disabled {
  background-color: utils.color(gray-7) !important;
  color: utils.color(gray-6) !important;
  cursor: default !important;
}