@use '../../../../scss/utils';

button {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: utils.rem(14px);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 10px 15px;
  cursor: pointer;
  color: utils.color(accent-white);
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  &.transparent {
    background-color: transparent;
  }

  &.compact {
    height: 100%;
    padding: 0 10px;
  }

  &.color-override {
    color: currentColor;
  }

  app-icon {
    display: inline-block;
    
    &:not(.standalone) {
      margin-right: 10px;
    }
  }
}

button.primary:not(.transparent) {
  background-color: utils.color(accent-blue);

  &:hover:not(:disabled) {
    background-color: utils.color(accent-blue-secondary);
  }
}

button.secondary:not(.transparent) {
  background-color: utils.color(gray-3);

  &:hover:not(:disabled) {
    background-color: utils.color(gray-4);
  }
}

button.success:not(.transparent) {
  background-color: utils.color(accent-green);

  &:hover:not(:disabled) {
    background-color: utils.color(accent-green-secondary);
  }
}

button.danger:not(.transparent) {
  background-color: utils.color(accent-red);

  &:hover:not(:disabled) {
    background-color: utils.color(accent-red-secondary);
  }
}

button:disabled {
  &:not(.transparent) {
    background-color: utils.color(gray-7) !important;
  }
  color: utils.color(gray-6) !important;
  cursor: default !important;
}