@use './scss/utils';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: utils.color(gray-1);
  color: utils.color(gray-8);
}

label {
  font-size: utils.rem(12px);
  font-weight: 500;
}

@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}